body {
    background: #252526;
    font-family: "Oxygen", sans-serif;
    padding-top: 65px;
}

#timer-text {
    font-weight: 700;
    font-size: 25.5vw;
}

.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px;  
    border-radius: 15px; 
    padding: 0px 0px;
    font-size: 26px; 
    border: 1px solid black;
    background-color: white;
    text-align: center; 
    margin: 3px 3px;
    vertical-align: middle;
    color: #252526;
    display: inline-block;
    line-height: 26px;
} 

.nav-item {
  margin: 0px 5px;
}

#taskTimerDisplay {
  font-size: 5rem;
}

#breakTimerDisplay {
  font-size: 5rem;
}

#myTabContent {
  margin: 0 0 20px 0;
}

.form-accounts {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background: #acacaf
  }
  .form-accounts .checkbox {
    font-weight: 400;
  }
  .form-accounts .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-accounts .form-control:focus {
    z-index: 2;
  }
  .form-accounts input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-accounts input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }