<section class="text-center">
    <form class="form-accounts" action="/updateAccount" method="GET">
        
        <button class="btn btn-lg btn-danger btn-block" type="submit">Update Account</button>
    </form>  
    <form class="form-accounts" action="/logout" method="GET">
         <button class="btn btn-lg btn-danger btn-block" type="submit">Log Out</button>
    </form>  
</section>