<section class="text-center">
    <form class="form-accounts" action="/updateAccount" method="GET">
        
        <button class="btn btn-lg btn-danger btn-block" type="submit">Update Account</button>
    </form>  
    <button class="btn btn-lg btn-danger btn-block" type="submit" action="/logout" method="GET">Log Out</button>
</section>