<section class="text-center">    
    <a href="/updateAccount">
        <button class="btn btn-lg btn-danger btn-block" id="updateAccountButton">Update Account</button>
    </a>>
    <button class="btn btn-lg btn-danger btn-block" type="submit">Log Out</button>
</section>