<section class="text-center">
    <form class="form-accounts" action="/logout" method="GET">
        <h1 class="h3 mb-3 font-weight-normal">You are currently signed in.</h1>
         <button class="btn btn-lg btn-danger btn-block" type="submit">Log Out</button>
    </form>  
</section>