
    <section class="container-fluid w-75">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-lg-5 p-3">
                <div class="card">
                    <div class="btn-group btn-group-toggle mb-2" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="task" id="task" checked> Task Timer
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="break" id="break"> Break Timer
                        </label>
                    </div>
                    <div class="row justify-content-center">
                        <h1 class="display-1" id="timerDisplay">25:00</h1>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <form id = "timeForm" action="">
                            <input type="text" class="form-text text-muted" placeholder="Task minutes">
                            <input type="text" class="form-text text-muted" placeholder="Break minutes">
                        </form>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div id="start_button">
                            <button type="button" onclick="startClock()" class="btn btn-outline-success" id="start">START</button>
                        </div>
                        <div id="stop_button" hidden>
                            <button type="button" class="btn btn-outline-secondary" id="pause" onclick="togglePause()">PAUSE</button>
                            <button type="button" class="btn btn-outline-danger" id="stop">STOP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            
        </div>
    </section>