
    <section class="container-fluid w-75">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-lg-5 p-3">
                <div class="card">
                    <!--
                    <div class="btn-group btn-group-toggle mb-2" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="task" id="task" onclick="toggleTimerDisplay(true)" checked> Task Timer
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="break" id="break" onclick="toggleTimerDisplay(false)"> Break Timer
                        </label>
                    </div>-->
                    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="task-tab" data-toggle="tab" href="#taskTimer" role="tab" aria-controls="taskPage" aria-selected="true">Task Timer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="break-tab" data-toggle="tab" href="#breakTimer" role="tab" aria-controls="breakPage" aria-selected="false">Break Timer</a>
                        </li>
                    </ul>
                        <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="taskTimer" role="tabpanel" aria-labelledby="taskPage">
                            <div class="row justify-content-center"> 
                                <div class="nav flex-column justify-content-center">
                                    <button type="button" class="btn btn-info btn-circle btn-sm" id="minutePlusBtnTask" onclick="adjustTime('task', true)">+</button> 
                                    <button type="button" class="btn btn-info btn-circle btn-sm" id="minuteMinusBtnTask" onclick="adjustTime('task', false)">-</button>
                                </div>
                                <h1 class="display-1" id="taskTimerDisplay"></h1>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="breakTimer" role="tabpanel" aria-labelledby="breakPage">
                            <div class="row justify-content-center"> 
                                <div class="nav flex-column justify-content-center">
                                    <button type="button" class="btn btn-info btn-circle btn-sm" id="minutePlusBtnBreak" onclick="adjustTime('break', true)">+</button> 
                                    <button type="button" class="btn btn-info btn-circle btn-sm" id="minuteMinusBtnBreak" onclick="adjustTime('break', false)">-</button>
                                </div>
                                <h1 class="display-1" id="breakTimerDisplay"></h1>
                            </div>
                        </div>
                    
                    
                    <div class="row justify-content-center mt-2">
                        <div id="start_button">
                            <button type="button" onclick="toggleStartStopButtons()" class="btn btn-outline-success" id="start">START</button>
                        </div>
                        <div id="stop_button" hidden>
                            <button type="button" class="btn btn-outline-secondary" id="pause" onclick="togglePause()">PAUSE</button>
                            <button type="button" class="btn btn-outline-danger" id="stop" onclick="toggleStartStopButtons()">STOP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            
        </div>
    </section>