<div class="text-center form-accounts" id="userRegister">
    <form class="form-register">
      <h1 class="h3 mb-3 font-weight-normal">Create Your Account</h1>
      <label for="regFName" class="sr-only">First Name</label>
      <input type="text" id="regFName" name="regFName" class="form-control" placeholder="First Name" required autofocus>
      <label for="lName" class="sr-only">Last name</label>
      <input type="text" id="regLName" name="regLName" class="form-control" placeholder="Last Name" required autofocus>
      <label for="regEmail" class="sr-only">Email address</label>
      <input type="email" id="regEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
      <label for="regPW" class="sr-only">Password</label>
      <input type="password" id="regPW" name="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit" id="registerButton">Register</button>
    </form>
    <a class="btn btn-lg btn-secondary btn-block" href="/login" role="button">Have an Account? Sign in</a>

     <div class="modal fade" id="validReg" tabindex="-1" role="dialog" aria-labelledby="completedRegistration" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                Registration Complete
                            </div>
                            <div class="modal-body">
                                You will now be redirected to the login page.
                            </div>
                            <div class="modal-footer">
                                <a href="/login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
      </div>

<script src="./javascript/registerUser.js"></script>