<div class="text-center form-accounts">
    <form class="form-register" action="/register" method="POST">
      <h1 class="h3 mb-3 font-weight-normal">Create Your Account</h1>
      <label for="fName" class="sr-only">First Name</label>
      <input type="text" id="fName" name="fName" class="form-control" placeholder="First Name" required autofocus>
      <label for="lName" class="sr-only">Last name</label>
      <input type="text" id="lName" name="lName" class="form-control" placeholder="Last Name" required autofocus>
      <label for="email" class="sr-only">Email address</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
    <a class="btn btn-lg btn-secondary btn-block" href="/login" role="button">Have an Account? Sign in</a>
</div>
