  <section class="container-fluid w-75">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">User Accounts Coming Soon!</h1>
                <p class="lead">Soon you'll be able to create customized timer categories, earn points for achieving your goals, and more!</p>
            </div>
        </div>
    </section>